@model List<Assignment8.Models.Employee>

<h2>Employee Details</h2>

<table class = "employee-table">
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Email</th>
    </tr>

    @foreach(var emp in Model)
    {
        <tr>
            <td>@emp.Employee_Id</td>
            <td>@emp.Name</td>
            <td>@emp.Department</td>
            <td>@emp.Salary</td>
            <td>@emp.Email</td>
        </tr>
    }

</table>