@model ShopEase.Models.Order

<h2>Invoice</h2>

<hr>

<p><b>Order ID :</b> @Model.OrderId</p>

<p><b>Date :</b> @Model.OrderDate</p>

<p><b>Customer :</b> @Model.CustomerName</p>

<p><b>Total :</b> ₹ @Model.Total</p>

<p><b>Discount :</b> ₹ @Model.Discount</p>

<p><b>GST :</b> ₹ @Model.GST</p>

<p><b>Grand Total :</b> ₹ @Model.GrandTotal</p>

<hr>

<h3>Thank You For Shopping!</h3>