@model ShopEase.Models.Product

@if(Model==null)
{
<h2>Product Not Found</h2>
}
else
{

<h2>Product Details</h2>

<table class="table table-bordered">

<tr>

<th>ID</th>

<td>@Model.ProductId</td>

</tr>

<tr>

<th>Name</th>

<td>@Model.Name</td>

</tr>

<tr>

<th>Category</th>

<td>@Model.Category</td>

</tr>

<tr>

<th>Description</th>

<td>@Model.Description</td>

</tr>

<tr>

<th>Brand</th>

<td>@Model.Brand</td>

</tr>

<tr>

<th>Price</th>

<td>@Model.Price</td>

</tr>

<tr>

<th>Quantity</th>

<td>@Model.Quantity</td>

</tr>

<tr>

<th>Discount</th>

<td>@Model.Discount %</td>

</tr>

<tr>

<th>Rating</th>

<td>@Model.Rating</td>

</tr>

</table>

}