@model List<ShopEase.Models.Customer>

<h2>Customers</h2>

<table class="table table-bordered">

<tr>

<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Address</th>
<th>Mobile</th>

</tr>

@foreach(var c in Model)
{
<tr>

<td>@c.CustomerId</td>

<td>@c.Name</td>

<td>@c.Email</td>

<td>@c.Address</td>

<td>@c.Mobile</td>

</tr>
}

</table>